internal/soapgen/testdata/xs_choice/definitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/test"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/test">

    <types>
        <xs:schema targetNamespace="http://example.com/test" elementFormDefault="qualified">

            <!-- Globally declared elements that the xs:choice bodies
                 below reference via <xs:element ref="..."/>. -->
            <xs:element name="OptionA" type="xs:string"/>
            <xs:element name="OptionB" type="xs:int"/>

            <!-- Top-level element with an inline complex type whose body
                 is xs:choice. xs:choice means "exactly one of these
                 child elements appears" — encoding/xml does not enforce
                 that constraint, so each branch is emitted as an
                 optional pointer field. Application code is responsible
                 for ensuring only one branch is populated. -->
            <xs:element name="ChoiceInline">
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="tns:OptionA"/>
                        <xs:element ref="tns:OptionB"/>
                        <xs:element name="OptionC" type="xs:string"/>
                        <xs:element name="OptionD">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Sub1" type="xs:string"/>
                                    <xs:element name="Sub2" type="xs:int"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>

            <!-- Named complex type whose body is xs:choice. Exercises
                 the generateStructFromComplexType code path with
                 xs:choice. -->
            <xs:complexType name="ChoiceNamed">
                <xs:choice>
                    <xs:element name="First" type="xs:string"/>
                    <xs:element name="Second" type="xs:int"/>
                </xs:choice>
            </xs:complexType>

            <!-- Element that references the named complex type, so the
                 generator emits a wrapper struct embedding ChoiceNamed. -->
            <xs:element name="ChoiceNamedRef" type="tns:ChoiceNamed"/>

            <!-- xs:choice containing xs:any. The xs:any branch is the
                 escape hatch for "or any other element"; coexisting
                 typed branches exercise the rawXMLCount logic with a
                 mix of typed and untyped fields. -->
            <xs:element name="ChoiceWithAny">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="Known" type="xs:string"/>
                        <xs:any namespace="##any" processContents="lax"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

</definitions>
